<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="static/css/bootstrap.css" media="all" rel="stylesheet">

    <!--
        <table class="table table-bordered">
    -->
    <!--
        <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css">
    -->
    <title>Prodcuts</title>
</head>
<body>

<div class="table">
    <h3> List of Products :</h3>
    <br>
</div>


<div class="table">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Desc</th>
            <th scope="col">Made By</th>
            <th scope="col">Category</th>
            <th scope="col">Units in Stock</th>
            <th scope="col">Units in Order</th>
            <th scope="col">Discontinued</th>
            <th scope="col">Condition</th>
        </tr>
        <tbody>
        <tr class="table-info" th:each="product: ${productlist}">
            <td>Item</td>
            <td span th:text="${product.productId}"></td>
            <td span th:text="${product.name}"></td>
            <td span th:text="${product.unitPrice}"></td>
            <td span th:text="${product.description}"></td>
            <td span th:text="${product.manufacturer}"></td>
            <td span th:text="${product.category}"></td>
            <td span th:text="${product.unitsInStock}"></td>
            <td span th:text="${product.unitsInOrder}"></td>
            <td span th:text="${product.discontinued}"></td>
            <td span th:text="${product.condition}"></td>
        </tr>
        </tbody>
    </table>

</div>


</body>
</html>
